.user-card {
    .avatar-img {
        width: 100px;
        height: auto;
    }

    .user-detail {
        width: 250px;
        height: 120px;
    }

    .user-name {
        font-size: 24px;
    }

    .user-info-table {
        font-size: 14px;
    }
}